$blue: #0093e7;
$label-color: #fff;
$white: #fff;
$navbar-breakpoint: 720px;

@import '~bulma';
@import './emojione';

* {
  transition: all 200ms ease;
}

html,
body {
  background-color: #{$blue};
  min-height: 100vh;
}

.g-max-width {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar-item{
  color: #{$white};
}